#calendar_container {
    display: flex;
    flex-direction: column;
    width: 280px;
    margin: auto;
    background-color: #2b2b2b;
    color: white;
    border-radius: 8px;
    padding: 10px;
  }
  
  #calendar_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .calendar-btn {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  .days_container, .days_index_container {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* Ensure there are always 7 columns */
    gap: 5px;
  }
  
  .days_container {
    margin-top: 10px;
  }
  
  .days_index_container {
    margin-top: 5px;
  }
  
  #calendar_container h5 {
    margin: 0;
  }
  